// Write your overrides

.authpagelogo {
  width: 40%;
  height: auto;
  padding-bottom: 20px;
  display: flex; /* Added to make the container a flex container */
  justify-content: center; /* Center justify the content horizontally */
}


.nav-header {
  padding: 0; /* Adjust or remove padding */
  display: flex; /* Ensure it's a flex container */
  align-items: center; /* Align children vertically center */
  justify-content: center; /* Align children horizontally center */
}


.nav-header svg {
  transform: scale(0.5); /* Adjust scale as needed */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  align-self: center; /* Align SVG vertically center if flexbox is used */
  justify-self: center; /* Align SVG horizontally center if grid is used */
}
